body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chart-container {
    position: relative;
    width: 65%;
    height: 40%;
    /* margin: auto; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    transition: all 0.3s ease-in-out;
}

.fullscreen {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 97%;
    height: 95%;
    background: white;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1100;
}

.toggle-btn:hover {
    background: #f0f0f0;
}

.back-button{
    padding-left: 30%;
    text-decoration: underline;
}