{% extends 'base.html' %}

{% block title %}
  Register | APMC Price Predictor
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_auth.css') }}" />

  <div class="register-container">
    <h2>Register</h2>
    <form id="register-form" action="{{ url_for('auth.register') }}" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="phone_number">Phone Number:</label>
      <input type="text" id="phone_number" name="phone_number" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Register</button>
    </form>
    <p>
      Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>
    </p>
  </div>

  <script>
    // Generate a random number between 1 and 10
    const randomImageNumber = Math.floor(Math.random() * 10) + 1
    
    // Set the background image dynamically
    document.body.style.backgroundImage = `url('{{ url_for('static', filename='images/image_' + 'REPLACE' + '.jpg') }}`.replace('REPLACE', randomImageNumber)
    
    document.getElementById('register-form').addEventListener('submit', function(event) {
        event.preventDefault()

        // Gather form data
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const phone_number = document.getElementById('phone_number').value;
        const password = document.getElementById('password').value;

        fetch('/auth/register', {
            method: 'POST',
            body: JSON.stringify({ name, email, phone_number, password }),
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())  // Parse the JSON response
        .then((data) => {
            if (data.status === 'success') {
                localStorage.setItem('alertMessage', JSON.stringify({ type: 'success', message: data.message }))
                window.location.href = '/auth/login'
              } else if (data.status === 'error') {
                localStorage.setItem('alertMessage', JSON.stringify({ type: 'danger', message: data.message }))
                window.location.href = '/auth/login'
              }
        })
        .catch((error) => {
          console.error('Error:', error)
        })
    })
  </script>
{% endblock %}
